DATABASE_URL="postgresql://neondb_owner:npg_MTZoRrWJYs35@ep-rough-mountain-aow5p9ct.c-2.ap-southeast-1.aws.neon.tech/neondb?sslmode=require"
NEXTAUTH_SECRET="koi-random-secret"
NEXTAUTH_URL="http://localhost:3000"